<div class="p-5 space-y-5" *ngIf="student">
  <h1 class="text-xl font-bold">Đăng ký tín chỉ</h1>
  <p class="mb-2 text-gray-500 dark:text-gray-400">
    <strong>Mã sinh viên:</strong> {{ student.id }}
  </p>
  <p class="mb-2 text-gray-500 dark:text-gray-400">
    <strong>Sinh viên:</strong> {{ student.name }}
  </p>
  <p class="mb-2 text-gray-500 dark:text-gray-400">
    <strong>Ngành:</strong> {{ student.majorName }}
  </p>
</div>

<form class="max-w-sm" *ngIf="courses">
  <label
    for="countries"
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >Chọn học phần</label
  >
  <select
    id="countries"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    name="select"
    [(ngModel)]="selectCodeCourse"
    [ngModelOptions]="{ standalone: true }"
    (change)="handleChangeCodeCourse()"
  >
    <option value="">Mặc định</option>
    <option *ngFor="let course of courses" [value]="course.codeCourse">
      {{ course.name }}
    </option>
  </select>
</form>

<div class="overflow-x-auto justify-end" *ngIf="classes">
  <h2 class="p-5 font-bold">Danh sách lớp học phần có thể đăng ký</h2>
  <table class="table w-full">
    <thead>
      <tr>
        <th class="text-left">STT</th>
        <th class="text-left">Lớp học phần</th>
        <th class="text-left">Thời gian</th>
        <th class="text-left">Địa điểm</th>
        <th class="text-left">Giảng viên</th>
        <th class="text-left">Sĩ số</th>
        <th class="text-left">Đã ĐK</th>
        <th class="text-left">Số TC</th>
        <th class="text-left">Chọn</th>
      </tr>
    </thead>
    <tbody>
      <tr class="hover" *ngFor="let class of classes; let i = index">
        <th class="font-bold lg:!static">{{ i + 1 }}</th>
        <th class="font-bold lg:!static">
          {{ class.courseName }} - {{ class.codeCourse }} - ({{
            class.className
          }})
        </th>
        <th class="font-bold lg:!static">
          Từ ngày {{ class.startDate }} đến {{ class.endDate }}
          <br />
          >>{{ class.time }}
        </th>
        <th class="font-bold lg:!static">{{ class.address }}</th>
        <th class="font-bold lg:!static">{{ class.teacherName }}</th>
        <th class="font-bold lg:!static">{{ class.size }}</th>
        <th class="font-bold lg:!static">{{ class.registered }}</th>
        <th class="font-bold lg:!static">{{ class.credit }}</th>
        <th class="font-bold lg:!static">
          <input
            id="disabled-checkbox"
            type="checkbox"
            value=""
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            (click)="handleCheckBox(class.id)"
            [checked]="register === class.id"
          />
        </th>
      </tr>
    </tbody>
  </table>
</div>
<div class="text-end mt-4">
  <button
    type="button"
    class="mr-0 inline-block py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
    (click)="handleRegister()"
    [disabled]="!register"
  >
    Đăng ký
  </button>
</div>

<div class="overflow-x-auto" *ngIf="studentClasses">
  <h2 class="p-5 font-bold">Danh sách lớp học phần đã đăng ký</h2>
  <table class="table w-full">
    <thead>
      <tr>
        <th class="text-left">STT</th>
        <th class="text-left">Lớp học phần</th>
        <th class="text-left">Thời gian</th>
        <th class="text-left">Địa điểm</th>
        <th class="text-left">Giảng viên</th>
        <th class="text-left">Sĩ số</th>
        <th class="text-left">Đã ĐK</th>
        <th class="text-left">Số TC</th>
      </tr>
    </thead>
    <tbody>
      <tr class="hover" *ngFor="let class of studentClasses; let i = index">
        <th class="font-bold lg:!static">{{ i + 1 }}</th>
        <th class="font-bold lg:!static">
          {{ class.courseName }} - {{ class.codeCourse }} - ({{
            class.className
          }})
        </th>
        <th class="font-bold lg:!static">
          Từ ngày {{ class.startDate }} đến {{ class.endDate }}
          <br />
          >>{{ class.time }}
        </th>
        <th class="font-bold lg:!static">{{ class.address }}</th>
        <th class="font-bold lg:!static">{{ class.teacherName }}</th>
        <th class="font-bold lg:!static">{{ class.size }}</th>
        <th class="font-bold lg:!static">{{ class.registered }}</th>
        <th class="font-bold lg:!static">{{ class.credit }}</th>
      </tr>
      <tr class="hover">
        <td class="hover font-bold" colspan="5"></td>
        <td class="hover font-bold" colspan="2">Tổng TC:</td>
        <td class="hover font-bold" colspan="1">{{ totalCredit() }}</td>
      </tr>
    </tbody>
  </table>
</div>
