<header class="bg text-white py-4">
  <div class="container mx-auto flex justify-between">
    <nav>
      <a href="" class="font-bold"> ĐẠI HỌC QUỐC GIA HÀ NỘI </a>
    </nav>

    <nav class="max-lg:hidden flex items-center justify-between">
      <ul class="flex">
        <li><a href="" class="nav-link">Trang chủ</a></li>

        <li *ngIf="access">
          <a
            *ngIf="access.jwtAuthResponse.role === 'ROLE_TEACHER'"
            href="manager-score"
            class="nav-link"
            >Quản lý điểm</a
          >
          <a
            *ngIf="access.jwtAuthResponse.role === 'ROLE_STUDENT'"
            href="result-detail"
            class="nav-link"
            >Kết quả học tập</a
          >
          <a
            *ngIf="access.jwtAuthResponse.role === 'ROLE_STUDENT'"
            href="list-class-subject"
            class="nav-link"
            >Lớp học</a
          >
          <a
            *ngIf="access.jwtAuthResponse.role === 'ROLE_STUDENT'"
            href="register-result"
            class="nav-link"
            >Đăng ký môn</a
          >
          <a
            *ngIf="access.jwtAuthResponse.role === 'ROLE_ADMIN'"
            href="list-university"
            class="nav-link"
            >Danh sách</a
          >
        </li>
      </ul>
      <ul>
        <li *ngIf="!access">
          <a href="login" class="nav-link ml-16">Đăng nhập</a>
        </li>
        <li *ngIf="access">
          <a (click)="logout()" class="nav-link ml-16 cursor-pointer"
            >Đăng xuất</a
          >
        </li>
      </ul>
    </nav>
    <button class="lg:hidden" (click)="handleHidden()" *ngIf="!isShow">
      <svg
        _ngcontent-ng-c171842676=""
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
        class="w-6 h-6 text-gray-800 dark:text-white"
      >
        <path
          _ngcontent-ng-c171842676=""
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        ></path>
      </svg>
    </button>
    <div
      id="dropdown"
      class="z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
      *ngIf="isShow"
    >
      <ul class="py-2 text-sm text-gray-700 dark:text-gray-200">
        <li>
          <a
            href="#"
            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
            >Trang chủ</a
          >
        </li>
        <li *ngIf="access">
          <a
            *ngIf="access.jwtAuthResponse.role === 'ROLE_TEACHER'"
            href="manager-score"
            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
            >Quản lý điểm</a
          >
          <a
            *ngIf="access.jwtAuthResponse.role === 'ROLE_STUDENT'"
            href="result-detail"
            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
            >Kết quả học tập</a
          >
          <a
            *ngIf="access.jwtAuthResponse.role === 'ROLE_STUDENT'"
            href="list-class-subject"
            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
            >Lớp học</a
          >
          <a
            *ngIf="access.jwtAuthResponse.role === 'ROLE_STUDENT'"
            href="register-result"
            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
            >Đăng ký môn</a
          >
          <a
            *ngIf="access.jwtAuthResponse.role === 'ROLE_ADMIN'"
            href="list-university"
            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
            >Danh sách</a
          >
        </li>
      </ul>
      <ul>
        <li *ngIf="!access">
          <a
            href="login"
            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
            >Đăng nhập</a
          >
        </li>
        <li *ngIf="access">
          <a
            (click)="logout()"
            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
            >Đăng xuất</a
          >
        </li>
      </ul>
    </div>
  </div>
</header>
